@charset "utf-8";
/* CSS Document */

body{
	/* background-color:#06C; */
	
 	height:auto; 
	margin: auto;
 	/* background: url("../image/oranges.jpg") top;  */
 	background: url(../image/fbao-g50.png) repeat scroll ;
 	background-attachment:fixed;
 	    padding: 1em 0 0 0;
 	
	}
	
	 #top 
{
	/* width: auto; */
	background-color:#475F0F;
/* 	background-image: url("../image/pattern_test.png"); */
	/* margin-top: -40px; */
	    width: 100%;
    height: 1em;
        position: fixed;
    top: 0;
    left: 0;
    right: 0;
	
	
	
}
	#header {
	background-color:#FFF; 
	width: 1000px; 
	position: fixed;
	
}
	
#container {
	/* background-color:#093;  */
	width: 1000px;
	margin: auto;
	border-left: 2px solid #475F0F;
	border-right: 2px solid #475F0F;
	border-bottom: 2px solid #475F0F;
	
	
}


 
.headdx {
	float: right;
	border: 1px solid #0A6951;
	padding:5px;
	margin:5px;
	font-weight:bold;
	color:#0A6951;
	font-size:16px;
 
}
form {
	/*  position:relative; */
 }


#page {  
	width: 960px;
	background-color:#FFF;
   /*   padding-top:10px;  */	
	padding-bottom:20px;
	padding-right:20px;
	padding-left:20px;
	padding-top:125px; 
}

#footer {
	/* background-color:#475F0F; */
	  /*   background: #333 url(../image/fbao-g50.png) no-repeat scroll center 80px; */
	/* width: 1000px; */
	position: relative;
    /* margin-top: -290px; */
    clear: both;
    color: #FFF;
  /*   min-height: 206px; */
    background: #333 url(../image/fbao-g50_trasp.png) no-repeat scroll center 30px;
    background-size: 360px; 
   /*  padding: 15px; */
}

h1{
	color:#475F0F;
}

#version
{
	position: absolute;
	bottom: 0px;

}
.st {
	background-color:#F60;
	text-align:center;
}

#contatti
{
    margin: 0 auto 0 auto;
    width: 1000px;
    height: 30px;
    line-height: 30px;
    z-index: 0;
  	position: relative;
    font-family: Helvetica;
    font-size: 10px;
    /* color: #339999; */
}


#logo {
	padding-bottom:5px;
	padding-right:10px;
	padding-left:10px;
	/* margin:5px; */
	background-color:transparent;
	
}

.allinea_dx {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	text-align: right;
}
#contenuto {
	width: 700px;
/*	background-color:#F5FEFC;*/
/* 	margin-top:-50px; */
	height:auto;
	text-align:justify;
	margin-left:5px;
/* 	padding-top:5px; */
	padding-bottom:10px;
	padding-right:10px;
	padding-left:10px;
	
	
}

#login {
	width: 200px;
	/* background-color:#C0C0C0; */
	background-color:#CCCCCC;
	float:right;
	margin-top:-1350px;
	margin-right:5px;
	margin-left:790px;
			
}
.registraz {
	alignment-adjust:middle;
	margin-left:40px;
}
.registraz1 {
	alignment-adjust:middle;
	margin-left:20px;
}
.h1{
	font:"Arial"
	font-weight: bold;
}
.tabella{
	
	width:950px;
}
.rightdiv{
	width:950px;
	float: center;
	text-align:right;
}
.centerdiv{
	width:950px;
	float: center;
	text-align:center;
}
.tabBorder{
	border: 1px solid #0A6951;
	padding: 10px;
	font-weight: bold;
	
}
.tabMenù {
	width:400px;
	border: 1px solid #fff;
	background-color:#0A6951;
	
	font-size:16px;

}	
.tabMenù a {	
	color:#FFF;
	text-decoration:none;
}
.linksgreen  {	
	color:#475F0F;
	text-decoration:none;
	face:Arial;
}
.linkswhite  {	
	color:#fff;
	text-decoration:none;
}
.intestTab
{
	background-color:#475F0F;
	border:0;
	color: white;
}

tr.d0 td {
	background-color: #dddddd; color: black;
}
tr.d1 td {
	background-color: #f8f8f8; color: black;
}

.foto_dx
{
	float:right;
	margin:5px;
	}
	.foto_sx
{
	float:left;
	margin:5px;
	}
	
	
	
	